<div class="d-flex aling-items-center justify-content-center">
    <h1>Welcome to Post Scheduler </h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter2", method: :post, data: {turbo: "false"}, class: "btn btn-primary"%>