<div class="d-flex aling-items-center justify-content-center">
    <h1>Welcome to Post Scheduler </h1>
</div>

<%= form_tag('/auth/twitter2', method: 'post', data: {turbo: false}) do%>
    <button type='twitter' class="btn btn-primary">Login with Twitter</button>
<% end %>