<div class="d-flex align-items-center justify-content-between">
    <h1>Twitter Account</h1>
    <%= form_tag('/auth/twitter2', method: 'post', data: {turbo: false}) do%>
    <button type='twitter' class="btn btn-primary">Login with Twitter</button>
<% end %>
</div>
<% @twitter_account.each do |twitter_account|%>
    <div class="d-flex aling-items-center mb-4">
        <div class="me-4">
            <%= image_tag twitter_account.image, class:"rounded-circle" %>
            <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: :_blank %>
        </div>

        <%= button_to "Disconnect", twitter_account, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

    </div>
<% end %>