<div class="d-flex justify-content-between align-items-center">
    <h1> Tweets </h1>
    <% if Current.user.twitter_account.any? %>
    <% else %>
        <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn btn-primary"%>
    <% end %>
</div>

<%if Current.user.twitter_account.none? %>
    <%= form_tag('/auth/twitter2', method: 'post', data: {turbo: false}) do%>
        <button type='twitter' class="btn btn-primary">Login with Twitter</button>
    <% end %>
<% end %>

<%= render @tweets %>